* {
    margin: 0px;
    padding: 0px;
}

input ,strong{
    font-size: 1rem;
    font-weight: inherit;
    font-style: inherit;
    text-decoration: none;
    color: inherit;
    font-family: inherit;
    border: none;
}

:root {
    font-family: 'Exo', sans-serif;
    font-size: 18px;
    --text-color: #515151;
    --form-background: #f0f0f0;
    --slider-background: #E1E1E4;
    --slides: #5151513f;
    --sso-color: #36B972;
    --main-background: #E5E5E5;
    --article-background: #FFFFFF;
    --footer-effect: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #F0F0F0 100%);

    color: var(--text-color);
}

input,
i,
.sso {
    cursor: pointer;
    color: #515151;
}

#loginScreen {

    background: url(img/carousel1.png)#C4C4C4;
    background-repeat: no-repeat;
    background-size: cover;
}

html,
body,
#loginScreen {
    width: 100%;
    min-height: 100vh;
    position: relative;
    scroll-behavior: smooth;
}

#headerLogin {
    background-color: rgba(255, 255, 255, 0.251);
    width: 100%;
    display: flex;
    position: relative;
}

#loginScreen footer {
    width: 100%;
    bottom: 4%;
    position: absolute;
    text-align: center;
    display: flex;
    justify-content: center;

}

footer ul li {
    display: inline-block;
}

form {
    background-color: var(--form-background);
    border-radius: 12px;
    position: absolute;
    padding: 2.22rem 2.77rem 1.22rem 2.77rem;
    right: 0%;
    margin-right: 6.7%;
    margin-top: 3.5rem;
    /* margin : 0 auto para centrar  */
}

nav {
    position: fixed;
    top: 22.7%;
    left: 2.22rem;
    z-index: 2;
}

nav ul {
    background-color: transparent;
    list-style: none;
    margin-bottom: 2rem;
    display: block;
    width: 200px;

}

nav ul li {
    margin: 0.38rem 0;
    cursor: pointer;

}

nav ul li h3 {
    margin: 3px 0;
    font-weight: 700;
    font-size: 20px;
}

nav ul li p {
    margin: 3px 0;
    font-weight: 400;
    display: inline-block;
    margin-left: 10px;
    vertical-align: middle;
}

nav ul li span {
    display: inline-block;
    height: 18.5px;
    vertical-align: middle;
    align-items: center;

}

nav ul li img {
    width: 18.5px;
}

#home {
    color: #36B972;
}

form h1 {
    font-size: 20px;
    font-weight: 700;
    font-style: normal;
    line-height: initial;
    margin-bottom: 0.5rem;
}

form h2 {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 1.7rem;
}

#loginScreen header svg {
    fill: var(--text-color);
}

main {
    width: 100%;
    position: relative;
    display: flex;
    text-align: center;
}

#darkMode,
.switch,
.switch div {
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
}
#dark{
    font-size: 0.83rem;
}
#darkMode {
    position: fixed;
    right: 2.22rem;
    top: 6.27rem;
    z-index: 2;
}

.switch {
    width: 44px;
    height: 24px;
    border-radius: 23px;
    background-color: #E1E1E4;
    margin-left: 10px;
}

.switch div {
    width: 18px;
    height: 18px;
    background-color: #FFFFFF;
    border-radius: 50%;
}

.switch div p {
    font-size: 7px;
    font-weight: 500;
}

#on p {
    z-index: -1;
}

#off {
    background-color: transparent;
}

.logo {

    width: 16, 277rem;
    height: 2.05rem;
    margin-left: 3rem;
    margin-bottom: 1.5rem;
    margin-top: 2.5rem;
}


.inp_usr {
    width: 17.7rem;
    height: 2.61rem;
    border-radius: 4px;
    padding-left: 1.11rem;
    padding-right: 1.11rem;
    outline-color:transparent;

}

input[type="password"]:not(:placeholder-shown) {
    font-family: 'pass';
    font-size: 2.6rem;
    font-weight: 400;
    color: #3D3D3D;
}


::placeholder {
    font-size: 0.83rem;
    font-weight: 400;
}

i {
    position: absolute;
    top: 25%;
    right: 0.55rem;
    color: #36B972;
}



label {
    font-weight: 400;
    font-size: 14px;

}

#chkbox {
    width: 1.05rem;
    height: 1.05rem;
}

.remember label {
    cursor: pointer;
    display: flex;
}

.remember input[type="checkbox"] {
    opacity: 0;
    position: absolute;
}

.remember label::before {
    content: '';
    width: 1rem;
    height: 1rem;
    border: 1px solid #8F8F8F;
    border-radius: 4px;
    margin-right: 0.6rem;
}

.remember input[type="checkbox"]:checked+label::before {
    content: url(img/Vector.svg);
    background-color: #36B972;
    color: #FFFFFF;
    border: 1px solid transparent;
}

a {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: #36B972;
    text-decoration: none;
}

.link {
    position: absolute;
    right: 0%;
}


input[type="submit"] {
    background: #4CC986;
    width: 100%;
    border-radius: 6px;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 1rem;
    padding-top: 0.72rem;
    padding-bottom: 0.66rem;
}
input[type="submit"]:hover {
    filter: drop-shadow(0px 3px 7px rgba(95, 225, 155, 0.71));
}
input[type="submit"]:active,.sso:active{
    filter: drop-shadow(0px 6px 0px #2BB34F);
}



form div {
    margin-top: 1rem;
    margin-bottom: 1rem;
    position: relative;
}

.registered {
    margin-top: 1.77rem;
}

.or {
    margin: 1.3rem 0;
}

.registered p {
    text-align: center;
    font-size: 0.77rem;

}


.line {
    position: relative;
    z-index: 1;
}

.line:before {
    border-top: 1px solid var(--text-color);
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    z-index: -1;
}

.line span {

    background: var(--form-background);
    padding: 0 20px;

}

.slider {
    width: 120px;
}

ul {
    border-radius: 18px;
    background-color: var(--slider-background);
}

.slides {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    margin-bottom: 2px;
    background: var(--slides);

}

#slide_1 {
    background: var(--text-color);

}

#right {
    top: 50%;
    right: 1.8%;
}

#left {
    top: 50%;
    left: 1.8%;
}


.arrow {
    display: block;
    margin: 0px auto;
    width: 1.1rem;
    height: 1.1rem;
    position: absolute;
    background-color: var(--slider-background);
    border-radius: 50%;
    padding: 0.8rem;
    z-index: 1;
    fill: var(--text-color);
}


.sso {
    border: 2px solid var(--sso-color);
    border-radius: 6px;
    padding-top: 0.72rem;
    padding-bottom: 0.66rem;
    
}
.sso:hover{
    filter: drop-shadow(0px 3px 7px rgba(95, 225, 155, 0.71));
}
.sso svg {
    position: absolute;
    left: 15%;
    width: 20px;
    height: 20px;
    fill: var(--sso-color);


}

.sso p {
    font-weight: 700;
    color: var(--sso-color);
}



#gameFinder {
    min-height: 100vh;
    background: var(--main-background);
    display: none;
}


#headerFinder {
    background: linear-gradient(180deg, #5FE19B 0%, #36B972 50%, #0EA152 100%);
    display: flex;
    position: sticky;
    top: 0;
    width: 100%;
    height: 5.22rem;
    align-items: center;
    box-shadow: 1px -3px 36px rgba(0, 0, 0, 0.5);
    z-index: 2;
}

#finder-logo svg{
    fill: #FFFFFF;
    margin-left: 2.22rem;
}

.heading {
    padding-top: 1.1rem;
    padding-bottom: 1.72rem;
    padding-left: 2.22rem;
    position: sticky;
    top: 92px;
    z-index: 1;
    background-color: var(--main-background);
    ;
}


.heading h1 {
    font-size: 2.66rem;
    font-weight: 800;
}

.heading h4 {
    font-weight: 400;
}


#games {
    width: 100%;
    text-align: left;
    position: relative;
    justify-content: flex-end;
}
.grid1{
    grid-template-columns: none;
    margin-right: 14rem;

}
.grid{
    grid-template-columns: repeat(3, 1fr);
    margin-right: 2.22rem;
}
#gridGames {
    display: grid;
    gap: 24px;
}

.card {
    width: 363px;
    height: 314px;
  
}
.card,.card1{
    border-radius: 12px;
    background-color: var(--article-background);
    box-shadow: 0px 0px 7px rgba(106, 106, 106, 0.25);
    overflow-y: scroll;
    cursor: pointer;
    position: relative;
}

article::-webkit-scrollbar{
    display: none;
}
.img {
    width: 100%;
    height: 180px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.img-cont span,.img-cont1 span{
    position: absolute;
    top: 14.67px;
    right: 13.33px;
}

.img-cont {
    height: 180px;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0px 16px 20px 16px;
}

.wrapper div {
    position: relative;
}

.wrapper div p {
    font-size: 14px;   
}
.two,.three,.five,.six{
    line-height: 24px;
}

.two,
.five {
    color: #939393;
    font-weight: 500;
}

.one {
    grid-column: 1 / 4;
    grid-row: 1;
    text-align: left;
    align-items: center;
    min-height: 33px;
    margin: 14px 0px;
}
.two{
    margin-bottom: 6px;
}
.one span {
    position: absolute;
    right: 0;
    font-size: 18px;
    top: 4px;
}

.one h3 {
    font-size: 24px;
    font-weight: 700;
    width: 80%;
}

.one h3 span,.one1 h3 span {
    color: #36B972;
}

.two {
    grid-column: 1;
    grid-row: 2;
}



.three {
    grid-column: 2;
    grid-row: 2;
}

.four {
    grid-column: 3;
    grid-row: 2 / 4;
    width: 120px;

}

.four p {
    text-align: right;
}

.four p span {
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-left: 16px;

}

.four,.four1 p span svg {
    fill: var(--text-color);
    margin-bottom: 4px;
}

.five {
    grid-column: 1;
    grid-row: 3;
}
.five, .six{
    line-height: 22px;
}
.six {
    grid-column: 2;
    grid-row: 3;
}

.game_description{
    display: none;
}

/* one_col ----------------------------------------------------- */
.card1 {
    width: 697px;
    height: 538px;
    border-radius: 12px;

}

.img-cont1 img{
    width: 100%;
    height: 315px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.wrapper1 {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    row-gap: 10px;
    margin: 10px;
}

.wrapper1 div {
    position: relative;
}

.wrapper1 div p {
    font-size: 14px;
}


.one1 {
    grid-column: 1 / 9;
    grid-row: 1;
    text-align: left;
    align-items: center;
}

.one1 span {
    position: absolute;
    right: 0;
    font-size: 18px;
    top: 10%;
}

.two1 {
    grid-column: 1;
    grid-row: 2;
    width: 80px;
}

.three1 {
    grid-column: 2;
    grid-row: 2;
    width: 100px;

}

.four1 {
    grid-column: 6 / 9;
    grid-row: 2 / 4;
    
}

.four1 p {
    text-align: right;
}

.four1 p span {
    width: 20px;
    height: 20px;
    margin-left: 16px;
}

.four1 p span svg {
    margin-bottom: 4px;
}

.five1 {
    grid-column: 3;
    grid-row: 2;
}

.six1 {
    grid-column: 4;
    grid-row: 2;
    width: 180px;
}

.img {
    position: relative;
}

.img span svg {
    position: absolute;
    z-index: 1;
    top: 14.67px;
    right: 13.33px;

}
.game_description1{
    grid-column: 1 / 9;
    grid-row: 4;
    display: block;
}
#ham{
    display: none;
}
/* one_col ----------------------------------------------------- */
/* modal -------------------------------------------------------*/
#mod{
    display: none;
}
.modal-overlay{
    width: 100vw;
    height: 100vh;
    z-index: 10;
    background-color: rgba(0, 0, 0 ,0.6);
    position: fixed;
    top: 0;
}

.modal{
    background: linear-gradient(180deg, rgba(48, 48, 48, 0.0001) 0%, #303030 60%);
}

.modal,.modal-pic{
    width: 1076px;
    height: 793px;
    border-radius: 24px
    
}
.modal-back,.modal{
    position: fixed;
    top: 111px;
    left: 182px;
}

.modal-info{
    width: 603px;
    grid-row: 2 / 6;
    display: grid;
    flex-direction: column;

}
.modal-gallery{
    grid-column: 2 / 5;
    grid-row: 2 / 6;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(4,1fr);
    gap: 16px;
    
}

.div-cont{
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(5,1fr);
    display: grid;
    gap: 17px;
    width: calc(100% - 64px);
    height: calc(100% - 178px);
    margin: 132px 0px 46px 32px;
}

.modal-gallery video{
    width: 100%;
}
.modal-gallery .video{
    grid-column: 1/3;
}

.modal-gallery img{
    width: 184px;
    height: 103px;
}
.modal-desc{
    color: white;
    font-size: 16px;
    height: 122px;
    overflow: hidden;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.modal-desc p{
    line-height: 22px;
    letter-spacing: 1px;
}
.modal-btn{
    width: 228px;
    height: 47px;
    display: flex;
    align-items: center;
    text-align: center;
    border-radius: 6px;
}
.modal-btn p{
    width: 100%;
}
.modal-btn-cont{
    display: flex;
    margin-top: 30px;

}
.wish{
    background: #4CC986;
    color: #FFFFFF;
    display: flex;
}
.wish p{
    position: relative;
}
.purchase{
    border: 2px solid #4CC986;
    color: #4CC986;
    margin-left: 24px;
}
.wish p span{
    position: absolute;
    content: url(/GameFinderApp/img/Heart.svg);
    fill: #FFFFFF;
    width: 20px;
    height: 20px;
    margin-left: 14px;
}

h5{
    color: #939393;
    font-weight: 500;
}
.modal-data-cont{
    margin-top: 24px;
    display: grid;
    grid-template-columns: 228px 228px;
    grid-template-rows: repeat(4,1fr);
    column-gap: 26px;
    overflow: hidden;
    overflow-y: scroll;
    scroll-behavior: smooth;
}
.modal-data-cont div{
    margin-bottom: 10px;
    height: min-content 32px;
    width: 240px;
  
}
.modal-data-cont h5{
    margin-bottom: 8px;
}
.modal-title div{
    margin-top: 9px;
}
.modal-title .icons{
    fill:#FFFFFF;
}
.modal-data-cont p{
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}
.modal-title span img{
    width: 26px;
}
.modal span{
    margin-right: 24px;
}

.modal-game-title{
    font-size: 48px;
    color: #FFFFFF;
    font-weight: 800;
}
.chips-cont, .chips-cont div{
    display: flex;
    align-items: center;
}
.chips-cont p{
    width: 100%;
    text-align: center;
}
.chips-cont div{
    height: 28px;
    margin-right: 8px;
    border-radius: 62px;
    background-color: #FFFFFF;
    color: #303030;
}
.modal-date,.modal-top{
    width: 125px;
}
.modal-rpg{
    width: 85px;
}
.chips-cont p strong{
    color: #4CC986;
    margin-right: 7px;
}
.socials{
    position: relative;
    margin-top: 20px;
}
.socials icon{
    margin-right: 20px;    
}
.no-trailer{
    text-align: center;
    color: #FFFFFF;
    font-size: 40px;
    background-color: black;
    height: 200px;
    display: flex;
    align-items: center;

}
.no-trailer p{
    width: 100%;
    animation: bounce 5s linear 2s infinite alternate;
}
.close{
    position: absolute;
    right: 8px;
    top: 24px;
    cursor: pointer;
}
.close svg{
    fill: white;   
    animation: change-color 1.5s linear infinite alternate;
   
}

@keyframes change-color{
    0%{
        fill: white;
    }
    100%{
        fill: black;
        width: 50px;
        height: 50px;
    }
}


/* modal --------------------------------------------------------------*/
#gameFinder footer {
    width: 100%;
    height: 108px;
    position: fixed;
    bottom: 0;
    background: var(--footer-effect);

}

.searchbar{
    position: fixed;
    z-index: 4;
    left: 37.43%;
    top: 23px;
    padding: 10px 0px;
    width: 362px;
    background: #FFFFFF;
    border-radius: 4px;    
    display: none;
}

.searchbar p{
    margin-left: 40px;
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: 400;

}
.searchbar p span{
    position: absolute;
    top: 13px;
    left: 11px;
    cursor: pointer;

}
.searchbar p input{
    width: 85%;
    outline: none;
    color:#3D3D3D;
}

.searchbar p:focus-within::after{
    content: url(img/close.svg);
    right: 12px;
    cursor: pointer;
    position: absolute;
    top: 12px;
}
.complete{
    margin-top: 10px;
    list-style: none;
    background-color: transparent;
}
.complete li{
    border-bottom: 0.5px solid #E1E1E4;
    padding: 10px 0;
    width: 100%;
    cursor: pointer;
}
.complete li:hover{
    background-color: #4CC986;
}
.complete li h6{
    font-size: 1rem;
    font-weight: 400;
    margin-left: 15px;
}
#comp{
    display: none;
}
#toggle{
    display: flex;
    position: absolute;
    right: 40px;
    bottom: 24px;
    cursor: pointer;
}
#toggle div{
    margin-left: 24px;
}
#layer{
    width: 100vw;
    height: 100vh;
    background: #15151584;
    position: fixed;
    z-index: 3;
    display: none;
}

#profile{
    position: fixed;
    z-index: 2;
    right: 40px;
    top: 23px;
    display: flex;
    align-items: center;
    display: none;
}
#profile p{
    color: #FFFFFF;
    margin-right: 16px;
    cursor: pointer;
}
#pic{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-size: contain;
    border: 2px solid #FFFFFF;
}
#initials{
    position: absolute;
    top: 30%;
    right: -1%;
}
#hamburguer{
    display: none;
}

@media (max-width: 1400px) and (min-width: 322px) {
    form {
        position: relative;
        margin: 3.55rem auto;
    }

    article {
        width: 19.5rem;
    }

    ul li h3{
        margin-bottom: 32px;
    }
    .show-hamb{
        display: none;
    }
 
    nav {
        display: none;
        z-index: 4;
        left: 16px;
        top: 92px;
    }
    nav ul li h3 {
        margin-bottom: 32px;
    }
  .hide{
    display: none;
  }

  
    .heading{
        padding-left: 0.8rem;
    }
    .logo {
        margin-left: 0;
    }

    .searchbar{
        left: 26.4%;
    }

    #games {
        justify-content: center;
    }
    .grid {
        grid-template-columns: repeat(2, 1fr);
        margin: 0;
    }
  
    .grid1{
        margin: 0 auto;
    }

    #loginScreen footer {
        bottom: 1.77rem;
    }

    #headerLogin {
        justify-content: center;
    }
    #headerFinder div svg {
        display: none;
    }

    #darkMode {
        position: fixed;
        right: 1.33rem;
        top: 6.27rem;
        z-index: 2;
        padding: 10px;
        border-radius: 25px;
    }
   
    #logout{
        position: fixed;
        bottom: 20px;
        left: 0px;
        z-index: 4;
        width: 100vw;
        border-top: 1px solid var(--slider-background);
        padding-top: 20px;
    }
   
    #logout strong{
        margin-left: 16px;
    }
    
    #ham{
        display: block !important;
    }
    #close-ham{
        cursor: pointer;
        position: absolute;
        right: 22px;
        top: 22px;
    }
    #ham-cont svg{
        width: 40px;
        height: 40px;
        display: block;
        margin-left: 0.8rem;
    }
    #profile{
        opacity: 0;
        left: 16px;
    }
  
    #profile p{
        color: var(--text-color);
        margin-right: 16px;
        cursor: pointer;
    }
    #hamburguer{
        width: 100vw;
        background-color: var(--article-background);
        height: 100vh;
        position: fixed;
        z-index: 3;
        opacity: 1;
    }
    /* MODAL ------------------------------------------------------------------------- */
   

    .modal-back,
    .modal {
        position: absolute;
        top: 15px;
        width: 720px;
        height: 984px;
    }
    .modal-back {
        left: 24px;
        width: 720px;
    }

    .modal {
        left: 0px;
    }

    .modal {
        background: linear-gradient(180deg, rgba(48, 48, 48, 0.0001) 0%, #303030 30%);
    }

    .modal-pic {
        position: absolute;
        width: 100%;
        height: 600px;
        top: 15px;
        left: inherit;
    }

    .modal-info {
        width: 672px;
    }

    .modal-data-cont {
        grid-template-columns: 320px;
        grid-template-rows: repeat(4, 1fr);
        margin-bottom: 200px;
        gap: 24px;
        width: 320px;
        height: 100%;
       
    }

    .modal-btn {
        width: 320px;
    }

    .modal-btn-cont {
        margin-top: 15px;
        height: 47px;
    }

    .modal-gallery {
        grid-column: 2 / 5;
        grid-row: 3 / 5;
        position: absolute;
        width: 305px;
        height: 340px;
        bottom: 140px;
        right: 30px;
        grid-template-rows: repeat(1, 180px);
        gap: 10px;
    }

    .modal-gallery img {
        width: 152px;
        height: 86px;
    }

    .socials {
        position: absolute;
        bottom: 20px;
        right: 100px;
        margin-top: 20px;
    }

}

@keyframes bounce{
    0%{
        transform: rotate(-15deg);
    }
    50%{
        transform: rotate(15deg);
    }
    100%{
        transform: rotate(-15seg);
    }
}