* {
    margin: 0px;
    padding: 0px;
}

input {
    font-size: 1rem;
    font-weight: inherit;
    font-style: inherit;
    text-decoration: none;
    color: inherit;
    font-family: inherit;
    border: none;
}

:root {
    font-family: 'Exo', sans-serif;
    font-size: 18px;
    --text-color: #515151;
    --form-background: #f0f0f0;
    --slider-background: #E1E1E4;
    --slides: #5151513f;
    --sso-color: #36B972;
    --main-background: #E5E5E5;
    --article-background: #FFFFFF;
    color: var(--text-color);
}

#loginScreen {

    background: url(img/carousel1.png)#C4C4C4;
    background-repeat: no-repeat;
    background-size: cover;
}
html,
body,
#loginScreen {
    width: 100%;
    height: 100%;
    position: relative;
    scroll-behavior: smooth;
}
#headerLogin {
    background-color: rgba(255, 255, 255, 0.251);
    width: 100%;
    display: flex;
    position: relative;
}
#loginScreen footer {
    width: 100%;
    bottom: 4%;
    position: absolute;
    text-align: center;
    display: flex;
    justify-content: center;

}
footer ul li {
    display: inline-block;
}
form {
    background-color: var(--form-background);
    border-radius: 12px;
    position: absolute;
    padding: 2.22rem 2.77rem 1.22rem 2.77rem;
    right: 0%;
    margin-right: 6.7%;
    margin-top: 3.5rem;
    /* margin : 0 auto para centrar  */
}

nav{
    position: fixed;
    top: 22.7%;    
    left: 2.22rem;
}

nav ul{
    background-color: transparent;
    list-style: none;
    margin-bottom: 2rem;
    display: block;
    width: 200px;

}

nav ul li{
    margin: 0.38rem 0;
}
nav ul li h3{
    margin: 3px 0;
    font-weight: 700;
    font-size: 20px;
}
nav ul li p{
    margin: 3px 0;
    font-weight: 400;
    display: inline-block;
    margin-left: 10px;
    vertical-align: middle;
}
nav ul li span{
    display: inline-block;
    height: 18.5px;
    vertical-align: middle;
    align-items: center;
    
}
nav ul li img{
    width: 18.5px;
}
#home{
    color: #36B972;
}
form h1 {
    font-size: 20px;
    font-weight: 700;
    font-style: normal;
    line-height: initial;
    margin-bottom: 0.5rem;
}

form h2 {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 1.7rem;
}

#loginScreen header svg {
    fill: var(--text-color);
}
main {
    width: 100%;
    position: relative;
    display: flex;
    text-align: center;
}
#darkMode,
.switch,
.switch div {
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
}

#darkMode {
    position: fixed;
    right: 6.7%;
    top: 4%;
    z-index: 2;
}

.switch {
    width: 88px;
    height: 44px;
    border-radius: 23px;
    background-color: #E1E1E4;
    margin-left: 10px;
}

.switch div {
    width: 35px;
    height: 35px;
    background-color: #FFFFFF;
    border-radius: 50%;
    margin: 5px auto;
}

.switch div p {
    font-size: 10px;
    font-weight: 500;
}

#on p {
    z-index: -1;
}

#off {
    background-color: transparent;
}

.logo {

    width: 16, 277rem;
    height: 2.05rem;
    margin-left: 3rem;
    margin-bottom: 1.5rem;
    margin-top: 2.5rem;
}


.inp_usr {
    width: 17.7rem;
    height: 2.61rem;
    outline: none;
    border-radius: 4px;
    padding-left: 1.11rem;
    padding-right: 1.11rem;

}

input[type="password"]:not(:placeholder-shown) {
    font-family: 'pass';
    font-size: 2.6rem;
    font-weight: 400;
    color: #3D3D3D;
}


::placeholder {
    font-size: 0.83rem;
    font-weight: 400;
}

i {
    position: absolute;
    top: 25%;
    right: 0.55rem;
    color: #36B972;
}



label {
    font-weight: 400;
    font-size: 14px;

}

#chkbox {
    width: 1.05rem;
    height: 1.05rem;
}

.remember label {
    cursor: pointer;
    display: flex;
}

.remember input[type="checkbox"] {
    cursor: pointer;
    opacity: 0;
    position: absolute;
}

.remember label::before {
    content: '';
    width: 1rem;
    height: 1rem;
    border: 1px solid #8F8F8F;
    border-radius: 4px;
    margin-right: 0.6rem;
}

.remember input[type="checkbox"]:checked+label::before {
    content: url(img/Vector.svg);
    background-color: #36B972;
    color: #FFFFFF;
    border: 1px solid transparent;
}

a {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: #36B972;
    text-decoration: none;
}

.link {
    position: absolute;
    right: 0%;
}


input[type="submit"] {
    background: #4CC986;
    width: 100%;
    border-radius: 6px;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 1rem;
    padding-top: 0.72rem;
    padding-bottom: 0.66rem;
}

form div {
    margin-top: 1rem;
    margin-bottom: 1rem;
    position: relative;
}

.registered {
    margin-top: 1.77rem;
}

.or {
    margin: 1.3rem 0;
}

.registered p {
    text-align: center;
    font-size: 0.77rem;

}


.line {
    position: relative;
    z-index: 1;
}

.line:before {
    border-top: 1px solid var(--text-color);
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    z-index: -1;
}

.line span {

    background: var(--form-background);
    padding: 0 20px;

}

.slider {
    width: 120px;
}

ul {
    border-radius: 18px;
    background-color: var(--slider-background);
}

.slides {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    margin-bottom: 2px;
    background: var(--slides);

}

#slide_1 {
    background: var(--text-color);

}

#right {
    top: 50%;
    right: 1.8%;
}

#left {
    top: 50%;
    left: 1.8%;
}


.arrow {
    display: block;
    margin: 0px auto;
    width: 1.1rem;
    height: 1.1rem;
    position: absolute;
    background-color: var(--slider-background);
    border-radius: 50%;
    padding: 0.8rem;
    z-index: 1;
    fill: var(--text-color);
}


.sso {
    border: 2px solid var(--sso-color);
    border-radius: 6px;
    padding-top: 0.72rem;
    padding-bottom: 0.66rem;

}


.sso svg {
    position: absolute;
    left: 15%;
    width: 20px;
    height: 20px;
    fill: var(--sso-color);


}

.sso p {
    font-weight: 700;
    color: var(--sso-color);
}


#loginScreen {
    display: none ;
}



#gameFinder{
    min-height: 100%;
    background: var(--main-background);
}


#headerFinder {
    background: linear-gradient(180deg, #5FE19B 0%, #36B972 50%, #0EA152 100%);
    display: flex;
    position: sticky;
    top: 0;
    width: 100%;
    height: 5.22rem;
    align-items: center;
    z-index: 1;
}

#headerFinder svg {
    fill: #FFFFFF;
    margin-left: 2.22rem;
}
.heading{
    padding-top: 1.1rem;
    padding-bottom: 1.72rem;;
    margin-left: 2.22rem;
    position: sticky;
    top: 93px;
    z-index: 1;
    background-color:var(--main-background);
    ;
}

.heading h1{
    font-size: 2.66rem;
    font-weight: 800;
}
.heading h4{
    font-weight: 400;
}

#games {
    width: 100%;
    text-align: left;
    position: relative;
    justify-content: flex-end;
}

#gridGames{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 24px;
    margin-right: 2.22rem;
    
}
article{
    width: 363px;
    height: 314px;
    border-radius: 12px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 7px rgba(106, 106, 106, 0.25);
}

article img{
    width: 100%;
    height: 186px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
.img{
    height: 186px;
}
.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 10px;
    margin: 10px 16px;

}

.wrapper div {
    position: relative;
}
.wrapper div p{
    font-size: 14px;
}
.two, .five{
    color: #939393;
    font-weight: 500;
}
.one {
    grid-column: 1 / 4;
    grid-row: 1;
    text-align: left;
    align-items: center;
}

.one span {
    position: absolute;
    right: 0;
    font-size: 18px;
    top: 10%;
}
.one h3{
    font-size: 24px;
    font-weight: 700;
}
.one h3 span{
    color: #36B972;
}

.two {
    grid-column: 1;
    grid-row: 2;
}

.three {
    grid-column: 2;
    grid-row: 2;
}
.four {
    grid-column: 3;
    grid-row: 2 / 4;
}
.four p{
    text-align: right;
}
.four p span{
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-left: 16px;
    
}
.four p span svg{
    margin-bottom: 4px;
}
.five {
    grid-column: 1;
    grid-row: 3;
}

.six {
    grid-column: 2;
    grid-row: 3;
}
#gameFinder footer{
    width: 100%;
    height: 108px;
    position: fixed;
    bottom: 0;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #F0F0F0 100%);

    
}

@media (max-width: 768px) and (min-width: 322px) {


    #games{
        justify-content: center;
    }

    #gridGames{
        grid-template-columns: repeat(2,1fr);
        margin: 0;
    }
    .logo {
        margin-left: 0;
    }

    #loginScreen footer {
        bottom: 1.77rem;
    }

    #headerLogin {
        justify-content: center;
    }

    #dark {
        color: #FFFFFF;
    }

    #on {
        color: #515151;
    }

    #darkMode {
        position: absolute;
        right: 40%;
        top: 800%;
        z-index: 1;
        background-color: #313159de;
        padding: 10px;
        border-radius: 25px;
    }

  
    form {
        position: relative;
        margin: 3.55rem auto;
    }

    article {
        width: 19.5rem;
    }




   
}